<div class="container">
  <h1 class="foodpage-title">{{recipe}}</h1>
  <p class="recipe-byline"> Brought to you by: {{chef}}. </p>

  <img src="{{food-pic}}" alt={{recipe}}>

  <p class="food-comments"> {{comment}} </p>
</div>
